@import "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css";

:root {
    --app-background-color: #08080A;
    --app-text-color: #ECF3F8;
    --dynamic-background-color: #ffffff;
    --dynamic-background-color-transparent: #c4e2ffaa;
    --dynamic-board-bg-color: #ECF3F8;
    --dynamic-text-color: #24609B;
}

.title {
    // font-size: 2.4em;
    font-size: min(calc(1.4em + 0.8vw), 2.6em);

    font-weight: 700;
    text-align: start;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;

}

.sub-title {
    font-size: min(calc(1em + 0.8vw), 1.6em);
    // font-size: 1.6em;
    font-weight: 700;
    text-align: start;
    width: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 3em 30px;
    padding: 50px 0 0 0;
    width: 100%;

    box-sizing: border-box;

    &.wrapper {
    padding: 0;

    }

    // width: min(1400px, 90vw);

    img {
        width: min(900px, 90vw);
    }
}